---
layout: job_family_page
title: "Chief Revenue Officer"
---

## Responsibilities

* Lead our account managers
* Get directly involved in deals when necessary
* Root cause analysis on wins/losses
* Manage and report on sales pipeline
* Provide input on product direction and strategy as a result of sales
  performance, root cause analysis, and competitive analysis.
* Help marketing with developing product/content marketing materials (blog
  posts, white papers, product briefs, slide decks) that reflect GitLab's core
  value proposition, competitive advantage and market positioning
* Successful completion of a background check -- see the [GitLab Code of Business Conduct and Ethics](https://ir.gitlab.com/static-files/7d8c7eb3-cb17-4d68-a607-1b7a1fa1c95d).
* [Leadership at GitLab](https://about.gitlab.com/company/team/structure/#e-group)
* Ability to use GitLab

<%= partial("job-families/sales/performance", :locals => { :roleName => "Chief Revenue Officer" }) %>
